@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue-accent: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --gray-blue: hsl(246, 25%, 77%);
    --default-font: 16px;
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url("/images/bg-intro-desktop.png");
    background-color: var(--red);
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    line-height: 1.2;
}

.intro {
    width: 50%;
    margin: 10% 6% 10% 10%;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.intro p {
    line-height: 1.7;
}

.sign-up-container {
    width: 50%;
    margin-right: 10%;
}

.sign-up-top {
    background-color: var(--blue-accent);
    padding: 5%;
    margin: 5% 0;
    font-size: 0.9em;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.sign-up-top span {
    font-weight: 700;
}

.sign-up-main {
    background-color: white;
    color: black;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10% 8%;
}

form input {
    width: 100%;
    margin: 3% 0;
    padding: 4%;
    border: var(--blue-accent) solid 0.5px;
    font-weight: 600;
    border-radius: 5px;
}

form input:focus {
    outline: var(--dark-blue) solid 0.6px;
}

/*

input:invalid {
    background-image: url("./images/icon-error.svg");
    background-position: right top;
    background-repeat: no-repeat;
}

*/


button {
    background-color: var(--green);
    color: white;
    border: none;
    width: 100%;
    padding: 5%;
    margin: 4% 0;
    border-radius: 10px;
}

button:hover, button:focus {
    outline: var(--dark-blue) solid 0.6px;
    cursor: pointer;
}

#btn-terms {
    font-size: 0.6rem;
    color:hsl(246, 25%, 77%)
}

#btn-terms span {
    color:hsl(0, 100%, 74%);
    font-weight: 700;
}




@media (max-width: 550px) {
    body {
        background-image: url("/images/bg-intro-mobile.png");
        background-color: var(--red);
    }
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .intro, .sign-up-container {
       width: 80vw;
       margin: 0 auto;
       text-align: center;
    }
}

/*

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/